<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <%= msg %><br>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.select :project_id, options_from_collection_for_select(@projects, :id, :name) %>
  </div>

  <div id="minutesSlider" class="well">
  <input id="taskMinutes" type="hidden" name="minutes">
  <div class="well">


  <span id="currentLabel">slider value</span>
  </div>
  <div>
  <section>
  <button type="button" class="btn btn-default" id="decrease"><span class="glyphicon glyphicon-resize-small"></span></button>
  <span id="minTimeLabel"></span>
  <span class="tooltip">test</span>
  <div id="slider"></div>
  <span id="maxTimeLabel"></span>
  <button type="button" class="btn btn-default" id="increase"><span class="glyphicon glyphicon-resize-full"></span></button>
  </section>
  </div>
  </div>
  <script src="/assets/timeslider.js"></script>
  <script src="/assets/objects.js"></script>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
