<h1>Listing tasks</h1>

<table id = "defaultTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Project</th>
      <th>Hours</th>
      <th>Minutes</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.name, task %></td>
        <td><%= link_to task.user.email, task.user %></td>
        <td><%= link_to task.project.name, task.project %></td>
        <td><%= task.hours %></td>
        <td><%= task.minutes %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
