<h1>Listing all completed tasks for all users</h1>

<table id = "defaultTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Project</th>
      <th>Duration (h:mm)</th>
      <th>Start</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.name, task %></td>
        <td><%= link_to task.user.email, task.user %></td>
        <td><%= link_to task.project.name, task.project %></td>
        
        <% if task.done? %>
        
            <td><%= task.hours.to_s + ":" + (task.minutes > 9 ? task.minutes.to_s : "0" + task.minutes.to_s ) %></td>
            <td><%= task.startTime ? task.startTime.to_formatted_s(:short): "none..."%></td>
            <td><%= link_to 'Edit', edit_task_path(task) %></td>
            <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
        <% else %>
        
            <td>current</td>
            <td><%= task.startTime ? task.startTime.to_formatted_s(:short): "none..."%></td>
            <td> </td>
            <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Task', new_task_path, :class => 'btn btn-primary' %> <br>(retroactively create a logged task)
