<h1>Task: <%= @task.name %></h1>

<table id="invisTable">

    <tr>
      <th><strong>User:</strong></th>
      <th><%= link_to @task.user.email, @task.user %></th>
    <tr>

    <tr>
      <th><strong>Project:</strong></th>
      <th><%= link_to @task.project.name, @task.project %></th>
    <tr>

    <tr>
      <th><strong>Hours:</strong></th>
      
      <td><%= @task.hours.to_s + ":" + (@task.minutes > 9 ? @task.minutes.to_s : "0" + @task.minutes.to_s ) %></td>
    <tr>


</table>

<br>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
