
<br>
<h1>   <%= image_tag "ic_action_event_h.png" %> Your Dashboard </h1>

<br>

<div class="container">
    <div class="jumbotron">

        <p>
            You can  blah blah blah.......
        </p>
        
        Your current task is: <div class="currentTaskField">___ </div> 
        <div class="currentProjectField"> for project: ___ </div>
        
        <div id="nothingStuff">
            <button id="openNewTaskMenu" class="btn new task">Start a new task</button>
        </div>     
               
        <div id="somethingButtons">
            <button id="openNewTaskMenu" class="btn new task">Start a new task</button>
            <button id="cancelCurrentTask" class="btn btn-danger">End current task</button>
        </div>            
            

        <div id="createNewTask">
            <h1>Create new task:</h1>
            <br>
            
            <table id="invisTable">
                <%= form_for(Task.new) do |f| %>
                
                    <tr>
                        <td><%= f.label :task_name %></td>
                        <td><%= f.text_field :name %></td>
                        
                    
                    </tr>
                    
                    <tr>
                        <td><%= f.label :project_id %></td>
                        <td><%= f.select :project_id, options_from_collection_for_select(Project.all, :id, :name) %></td>
                    </tr>
                    
                    </table>
                    <br>
                    
                    <div>
                        <!--<div id="pause" class="btn btn-warning">Pause Task</div>-->
                        <button id="start" class="btn btn-success">Start</button>
                        <button id="cancel" class="btn btn-danger">Cancel</button>
                    </div>
                
                
            <% end %>
        
        </div>


    </div>
</div>

<!--<div id="currentTaskName"><%= @user %></div> 
<div id="currentTasksProjectName"><%= @user %></div> 

-->


<!--
<h1>Quick Task Create</h1>
<%= form_for(Task.new) do |f| %>
    <div class="field">
        <%= f.label :task_name %><br>
        <%= f.text_field :name %>
    </div>
    <br>
    <div class="field">
        <%= f.label :project_id %><br>
        <%= f.select :project_id, options_from_collection_for_select(Project.all, :id, :name) %>
    </div>
    <br>
    <div class="field">
        <%= f.label :minutes %><br>
        <input type="number" id="task_minutes" name="minutes" value="0">
        <span id="hourglass"></span>
    </div>
    <br>
    <div>
        <div id="start" class="btn btn-success">Start Task</div>
        <div id="pause" class="btn btn-warning">Pause Task</div>
        <button id="end" class="btn btn-danger">End Task</button>
    </div>
<% end %>
-->
<script>
    $(function() {
        //var minutes = 0;
        //var recording = false;
        
        
        
        
        currentTaskBool = false; // TODO parse from server
        
        $( document ).ready(function() {
            $("#createNewTask").hide();
        });

        //setInterval(function() {myTimer()}, 1000);
        $("#openNewTaskMenu").click(function(event){
            //$("#hourglass").html('<%= image_tag "hourglass1.gif" %>');
            
            createTaskMode();
            event.preventDefault();

        });

        $("#start").click(function(event){
            event.preventDefault();
            
            /// send info of fields to server
            ///
            ///
            ///
            $.ajax({
                type: "GET",
                url: '/user/set_current_task/',
                data: {'name' : $("task_name").val(), 
                        'project_id' : $("task_project_id").val() },
                success: function(data) {
                    console.log(data)
                }
            });
            
            $("#currentTaskField").replaceWith($("#task_name").val());
            
            
            /////
            
            
            defaultMode();

        });
        
        $("#cancelCurrentTask").click(function(event){
            event.preventDefault();
            //$("#createNewTask").hide();

        });
        
        $("#cancel").click(function(event){
            event.preventDefault();
            defaultMode();

        });
        
        function defaultMode() {
            $("#createNewTask").hide();
            $("#openNewTaskMenu").show();
            if (currentTaskBool) {
                $("#somethingButtons").show();
                $("#nothingButtons").hide();
            } else {
                $("#somethingButtons").hide();
                $("#nothingButtons").show();
            }
            
            
        }
        
        function createTaskMode() {
            $("#createNewTask").show();
            $("#openNewTaskMenu").hide();
            $("#somethingButtons").hide();
            $("#nothingButtons").hide();
        }
        
        function setToNoCurrentTask() {
            currentTaskBool = false;
            
            $("#currentTaskField").replaceWith("<b><i>no current task</i></b>");
            $("#currentProjectField").replaceWith("");
            
            
            
            
        }
        
        function updateTaskInfoFromServer() {
            ///// TODO, retrieve user's data from server!
            currentTaskBool = true;
            
            $("#currentTaskField").replaceWith("<b><i>Coding!</i></b>");
            $("#currentProjectField").replaceWith("project hackathon");
            defaultMode();
        }
        
        
        // init functions:
        defaultMode();
        
        setToNoCurrentTask();
        
        updateTaskInfoFromServer();
        

        /*function myTimer() {
            if (recording == true) {
                minutes++;
                $("#task_minutes").val(Math.floor(minutes/60));
            }
        };*/
    });
</script>

