
<br>
<h1>   <%= image_tag "ic_action_event_h.png" %> Your Dashboard </h1>

<br>

<div class="container">
    <div class="jumbotron">

    
        Here you can manage which task you are currently working on.  You can only work on 1 task at a time, 
        and it will continue logging in hours until you end the task, which will log it into the Previous Tasks
        database for you.

        <br>
        <br>
        <br>
        <br>
        
        
        <p>
            Your current task is: <span id="currentTaskField" class="currentTaskField">
                <b><i>
                <%= current_user.currentTask ? current_user.currentTask.name : "no current task" %>
                </i></b> </span> 
            <span id="currentProjectField"> <b><i>
                
                for project: <%= current_user.currentTask ? current_user.currentTask.project.name : "no current task" %>
                
                
                </i></b> </span><span id="hourglass"></span>
        </p>
        
        
        <br>
        <div id="nothingButtons">
            <button id="openNewTaskMenu1" class="btn btn-success">Start a new task</button>
        </div>     
               
        <div id="somethingButtons">
            <button id="openNewTaskMenu2" class="btn btn-success">Start a new task</button>
            <button id="cancelCurrentTask" class="btn btn-danger">End current task</button>
        </div>            
            

        <div id="createNewTask">
            <h1>Create new task:</h1>
            <br>
            
            <table id="invisTable">
                <%= form_for(Task.new) do |f| %>
                
                    <tr>
                        <td><%= f.label :task_name %></td>
                        <td><%= f.text_field :name %></td>
                        
                    
                    </tr>
                    
                    <tr>
                        <td><%= f.label :project_id %></td>
                        <td><%= f.select :project_id, options_from_collection_for_select(Project.all, :id, :name) %></td>
                    </tr>
                    
                    </table>
                    <br>
                    
                    <div>
                        <!--<div id="pause" class="btn btn-warning">Pause Task</div>-->
                        <button id="start" class="btn btn-success">Start</button>
                        <button id="cancel" class="btn btn-danger">Cancel</button>
                    </div>
                
                
            <% end %>
        
        </div>


    </div>
</div>


<!--<div id="currentTaskName"> @user %></div> 
<div id="currentTasksProjectName"= @user %></div> 

-->


<!--
<h1>Quick Task Create</h1>
<%= form_for(Task.new) do |f| %>
    <div class="field">
        <%= f.label :task_name %><br>
        <%= f.text_field :name %>
    </div>
    <br>
    <div class="field">
        <%= f.label :project_id %><br>
        <%= f.select :project_id, options_from_collection_for_select(Project.all, :id, :name) %>
    </div>
    <br>
    <div class="field">
        <%= f.label :minutes %><br>
        <input type="number" id="task_minutes" name="minutes" value="0">
        <span id="hourglass"></span>
    </div>
    <br>
    <div>
        <div id="start" class="btn btn-success">Start Task</div>
        <div id="pause" class="btn btn-warning">Pause Task</div>
        <button id="end" class="btn btn-danger">End Task</button>
    </div>
<% end %>
-->
<script>
    $(function() {
        //var minutes = 0;
        //var recording = false;
        
        //$("#hourglass").html('<%= image_tag "hourglass1.gif" %>');
        
        
        currentTaskBool = false; // TODO parse from server
        
        $( document ).ready(function() {
            $("#createNewTask").hide();
        });

        //setInterval(function() {myTimer()}, 1000);
        $("#openNewTaskMenu1").click(function(event){
            createTaskMode();
            event.preventDefault();
        });
        $("#openNewTaskMenu2").click(function(event){
            createTaskMode();
            event.preventDefault();
        });

        $("#start").click(function(event){
            event.preventDefault();
            

            name = $("#task_name").val();
            id = $("#task_project_id").val();
            pname = $("#task_project_id").val();
            updateTaskInfo(name, id, pname, true);

            /// send info of fields to server
            ///
            ///
            ///
            $.ajax({
                type: "GET",
                url: '/user/set_current_task/',
                data: {'name' : $("#task_name").val(), 
                        'project_id' : $("#task_project_id").val() },
                success: function(data) {
                    console.log(data)
                }
            });
            
            //$("#currentTaskField").replaceWith($("#task_name").val());
            
            
            /////
            
            

            defaultMode();

        });
        
        $("#cancelCurrentTask").click(function(event){
            event.preventDefault();
            updateTaskInfoAndSendToServer("", "", "", false);
            //$("#createNewTask").hide();

        });
        
        $("#cancel").click(function(event){
            event.preventDefault();
            defaultMode();

        });
        
        function defaultMode() {
            $("#createNewTask").hide();
            $("#openNewTaskMenu").show();
            $("#somethingButtons").hide();
            $("#nothingButtons").hide();
            if (currentTaskBool) {
                $("#somethingButtons").show();
            } else {
                $("#nothingButtons").show();
            }
            
            
        }
        
        function createTaskMode() {
            $("#createNewTask").show();
            $("#openNewTaskMenu").hide();
            $("#somethingButtons").hide();
            $("#nothingButtons").hide();
        }
        
        function setToNoCurrentTask() {
            currentTaskBool = false;
            
            $("#currentTaskField").html("<b><i>no current task</i></b>");
            $("#currentProjectField").html("");
            
            
            
            
        }
        
        function updateTaskInfo(name, proj_id, proj_name, bool) {
            ///// TODO, retrieve user's data from server!
            /// send info of fields to server
            ///
            ///
            ///
            
            //$("#currentTaskField").html('' + $("#task_name").val());
            
            
            /////
            
            currentTaskBool = bool;
            if (bool) {
                
                $("#currentTaskField").html("<b><i>" + name + "</i></b>");
                $("#currentProjectField").html(" for project: <b><i>" + proj_name +"</i></b>");
                $("#hourglass").html('<%= image_tag "hourglass1.gif" %>');
            } else {
                setToNoCurrentTask();
            }
            
            
            
            
            defaultMode();
        }
        
        
        // init functions:
        defaultMode();
        
        //setToNoCurrentTask();
        
        //updateTaskInfoAndSendToServer();
        

        /*function myTimer() {
            if (recording == true) {
                minutes++;
                $("#task_minutes").val(Math.floor(minutes/60));
            }
        };*/
    });
</script>

