<h1><%= image_tag "ic_action_paste_h.png" %> Listing projects</h1>

<p>
A project contains many individual tasks that, together, count for the total hours spent on this project.
</p>

<br>

<table id="projectIndexTable">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td id="tdName"><b><%= project.name %></b></td>
        <td><%= link_to 'Details', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?  There is no undo!' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>





<br>

<%= link_to 'New Project', new_project_path, :class => 'btn btn-primary' %>
