<h1>Project: <%= @project.name %></h1>

<p>Total hours spent on project: <b> <%= @hours.to_s + ":" + (@minutes  > 9 ? @minutes.to_s : "0" + @minutes.to_s ) %> </b> (h:mm)</p>



<table id="defaultTable">
  <h3>Tasks</h3>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Hours</th>
      <th>Minutes</th>
    </tr>
  </thead>
  <% @project.tasks.each do |task| %>
    <tr>
      <td><%= link_to task.name, task %></td>
      <td><%= link_to task.user.email, task.user %></td>
      <td><%= task.hours %></td>
      <td><%= task.minutes %></td>
    </tr>
  <% end %>
</table>
<br>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
