<h1>User</h1>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>Hours: <%= @hours %> Minutes: <%= @minutes %></p>

<p><%= link_to 'Calendar', tasks_for_user_path(@user) %></p>

<table id="defaultTable">
  <h3>Tasks</h3>
  <thead>
    <tr>
      <th>Name</th>
      <th>Project</th>
      <th>Hours</th>
      <th>Minutes</th>
    </tr>
  </thead>

  <% @user.tasks.each do |task| %>
    <tr>
      <td><%= link_to task.name, task %></td>
      <td><%= link_to task.project.name, task.project %></td>
      <td><%= task.hours %></td>
      <td><%= task.minutes %></td>
    </tr>
  <% end %>
</table>
